/*styles for my resume*/

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

body{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  color: #444;
    }

li{
  font-family:1 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  color: #444;
}

#name{
  font-size: 3.5em;
  color: #33485e;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

p{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  color: #444;
}

strong{
  text-transform: uppercase;
  font-size: 2em;
  color: #33485e;
}

.sectionheader{
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: white;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 70%;
  min-width: 300px;
}

.jobtitle{
  font-weight: 600;
  font-size: 2em;
}

.organization{
  font-weight: 400;
  font-size: 1.5em;
}

h5 {
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
}

img{
  display: none;
}
