/*styles for my resume*/

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
  background-color: #EDCFEE;
}

body{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  color: #444;
    }

li{
  font-family:1 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  color: #444;
}

#name{
  font-size: 3.5em;
  text-align: center;
  text-transform: uppercase;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  font-family: 'Cormorant Garamond', serif;
  color: white;
  text-shadow: 4px 3px #EDCFEE;
}

/*paragraph info*/
.description{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  color: #444;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

/*beginning my name*/
#title{
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 600px;
  text-align: center;
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-family: 'Cormorant Garamond', serif;
  color: white;
  text-shadow: 3px 2px #EDCFEE;
}

/*headings for the job parts*/
.sectionheader{
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: white;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 70%;
  min-width: 300px;
}

.jobtitle{
  font-weight: 600;
  font-size: 2em;
}

.organization{
  font-weight: 400;
  font-size: 1.5em;
}

.date{
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin-top: 3px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

img{

}

/*for the contact information*/
.menu{
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline;
}

#degrees{
  margin-top: : 5px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

#do{
  margin-top: : 5px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}


/*for the mission statement*/
.top{
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}

/*for the masterhead*/
.bgimage {
  width:100%;
  height:500px;
  background:linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('https://lh3.googleusercontent.com/KgCvbfEL0AoPsCPwohIP9Ab486XXFheQoyGMfzXSQ_XT9N7g0GtIvDHDIAJ6raUTGKDb2c0MbZqMrtkN1vQl6BJ2u6h9QS3fpDjDvTAhYG4eZ1sscUhiundNgoAIdvf1UMAJ8hcsFRo2mR3Ka3BlmvsAYsmhmryAsnU9-Up3sLsX37UbFp-c1C9hn6llXYrZU215VsqvtHfFtjMbybhvKygmG6V4INhfuwIBvdW3-9aUWfEsoomCuc6HyvhKk25Qrk7vrsJQIznKUX9DyQDGPhpScDVxJhUnKsJvJSRwhlmXV_s4RuQzho3seVTbsrtQ8ulXJcRs3EDLN_ibx6ZheoMR6dqMN_c24Cio1WxTQzG2xbvsaEdxB0RlkhKhCax8TSmBZMRhoWUJ1GAEgzG6f1QpnVjwcgLRu-vsH6BXYyrkRNbOTftZBZ3hlFbrImWh8t0CbS8hw9wtaqY9chz9SiPeKm_I0PcpMG7vLuGRyRwCcMjcxWwsl-K8F-Q8qW9jk5E7EcEfB7QRA_nhdUMqjcHqcyyRqVcoix29i6LeclZsioKyL1aveou5ti8s1uOBlYwJF0NP93nJ9qNVfEMv2XjASUlx892u7fN74kyDex56Ca4N7t3KgKuWLh6U7RDWsB5xNa_1LTRzRGz8L3B3yDueRy-ARHN0_U2uvM107IatmazQYquZ4__x12MtOfKGKr99ecREjfdLpyf1ATLnFdM=w1174-h880-no?authuser=0');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}

.bgimage title{
  color:white;
  filter: brightness(75%)
}
