.container {
  text-align:left;
  margin: 0 auto;
}

.byline {
  font-size: 1.25em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*navbar and logo*/
.red {
  font-family: 'Libre Baskerville', serif;
  color: #F74241;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
}

.nav-logo {
  font-family: 'Libre Baskerville', serif;
  color: white;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
}


/* old page topper
.bgimage {
  width:100%;
  height:900px;
  background: url('images/simone_header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}

.bgimage h1 {
  margin-top: 60px;
  color: white;
  font-size: 5em;
  text-align: center;
}

.header_caption {
  left: 10px;
  bottom 10px;
  position: absolute;
  color: white;
}
*/
/*splash*/
.hero-image {
  width: 100%;
}

.hero-head {
  font-family: 'Libre Baskerville', serif;
  margin: 0 auto;
  font-size: 5em;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.hero-sub {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  left: 10px;
  bottom: 10px;
  position: absolute;
  color: white;
}

.hero-container {
  position: relative;
  text-align: center;
  color: white;
}

.overlay {
  position: absolute;
  width:100%;
  top: 20%;
  background:#000;
  opacity:.7;
}

.headline {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

/*content*/
p {
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  line-height: 180%;
}


.source {
  font-style: italic;
}

img {
  width: 100%;
  margin: 0 auto;
}

iframe {
  margin: 0 auto;
}

.credit {
  font-family: 'Raleway', sans-serif;
  font-size: .75em;
}
/*left-side thing*/
.fig1 {
  display: flex;
  flex-flow: column;
  max-width: 400px;
  float: right;
}

.caption {
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 450px;
  float: right;
  color: grey;
  font-family: 'Raleway', sans-serif;
  font-size: .75em;
}

img.testify {
  width: 100%;
}

/*pullquote*/
.quote {
  font-size: 3em;
  font-weight: 500;
  text-align: center;
  border-top: 5px solid #333ca2;
  border-bottom: 5px solid #333ca2;
  font-family: 'Libre Baskerville', serif;
  background-color: #f74241;
  color: white;
  margin-bottom: 20px;
}

.quote-attribution{
  font-style: italic;
  text-align: center;
  margin: 0 auto;
  font-size: .5em;
  font-family: 'Raleway', sans-serif;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
}

.row {
  text-align: center;
}

/* media queries */


@media(max-width:800px) {
.hero-head {
  font-size:3em;
}

.bgimage h1{
  font-size:3em;
}

}


@media(max-width:550px) {
  .hero-head {
    font-size:1em;
  }

  .headline {
    font-size: 1em;
  }

  .header_caption {
    left: 10px;
    bottom: 10px;
  }

  p {
    padding-left:20px;
    padding-right:10px;
  }

  iframe {
    height: 240;
    width: 320;
  }

  .chapter-head {
    font-size:1.25em;
  }

  .intro-text {
    font-size:1.25em;
  }

  .hed {
    font-size:2em;
  }

  .hero-text{
    font-size:2em;
    top:50%;
  }

  .quote {
    display:none;
    font-size:1em;
  }

  .bgimage h1{
    font-size: 3em;
  }

.text-box {
  width:100%;
}

}
