.container {
  text-align:center;
  width: 90%;
}

/*navbar and logo*/
.red {
  font-family: 'Montserrat', sans-serif;
  color: red;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
}

.nav-logo {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
}

/*splash*/
.hero-image {
  width: 100%;
}

.hero-head {
  font-family; font-family: 'Cormorant Garamond', serif;
  margin: 0 auto;
  font-size: 6em;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero-sub {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  font-size: .25em;
}

.hero-container {
  position: relative;
  text-align: center;
  color: white;
}

.overlay {
  position: absolute;
  width:100%;
  top: 20%;
  background:#000;
  opacity:.7;
}

.heat {
  color: red;
  font-weight: 800;
}

.headline {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.byline {
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 20px;
}

/*body*/
p.chapter {
  font-size: 1.5em;
  font-family:'Montserrat', sans-serif;
  text-align: center;
  color: red;
}

p {
  font-size: 1em;
  font-family: Georgia, serif;
  line-height: 180%;
  text-align: left;
}

img {
  width: 70%;
  margin: 0 auto;
}


/*Caption for photos*/
.caption {
  text-align: center;
  font-size: .75em;
  font-family: Georgia, serif;
  font-style: italic;
}


/*for end credits*/
.credits {
  text-align: left;
  font-size: 1em;
  font-family: Georgia, serif;
  font-style: italic;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
}



/* Media Queries */

@media(max-width:800px) {
.hero-head {
  font-size:3em;
}

}


@media(max-width:550px) {
  .hero-head {
    font-size:1.5em;
  }

  p {
    padding-left:20px;
    padding-right:10px;
      font-size: .5em;
  }

  .chapter-head {
    font-size:1.25em;
  }

  .intro-text {
    font-size:1.25em;
  }

  .hed {
    font-size:2em;
  }

  .hero-text{
    font-size:2em;
    top:50%;
  }

  .quote {
    display:none;
    font-size:1em;
  }

.text-box {
  width:100%;
}

img {
  width: 70%;
}

}
