.container {
  text-align:center;
}

.red {
  font-family: 'Montserrat', sans-serif;
  color: red;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
}

.nav-logo {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
}

.img {
  width: 100%;
}

.headline {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.byline {
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.chapter {
  font-size: 2em;
  font-family:'Montserrat', sans-serif;
}

p {
  font-size: 1em;
  font-family: Georgia, serif;
  line-height: 180%;
}

.image {
  width: 700px;
  margin: 0 auto;
}

.source {
  font-style: italic;
}


footer {
  text-align: center;
  background-color: black;
  color: white;
}

.row {
  text-align: center;
}



/* Media Queries */

@media(max-width:550px) {
  p {
    padding-left:20px;
    padding-right:10px;
  }

  .chapter-head {
    font-size:1.25em;
  }

  .hed {
    font-size:2em;
  }

  .hero-hed {
  font-size:1.5em;
}

}
